{% extends "tpl/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block content %}
<div class="header">
    <h1 class="lead">{{title}}</h1>
    <div class="subLead">{{tagLine}}</div>
    <div class="links">
        <a href="#manifest">
            <i class="fa fa-book"></i>
            Sample Configuration
        </a>
        <a href="#cli">
            <i class="fa fa-terminal"></i>
            Command line
        </a>
        <a href="#maven">
            <i class="fa fa-code"></i>
            Maven
        </a>
        <a href="http://github.com/Nthalk/static-site-generator">
            <i class="fa fa-github"></i>
            Github
        </a>
    </div>
</div>

<pre class="codeBar" id="manifest"><code class="yaml">$ cat files.yaml
{% include 'manifest.yml' %}
</code></pre>

<div class="container">
    <h2>Features</h2>
    <ul>
        <li>CLI application</li>
        <li>Maven plugin</li>
        <li>Reading models from markdown files</li>
        <li>Extracting YAML underlying data within markdown file headers</li>
        <li>Reading models from JSON files</li>
        <li>Reading models from YAML files</li>
    </ul>

    <h2 id="cli">Command Line</h2>
    <p>Static Gen can be used from the command line after installing it.</p>
    <pre><code>$ ./sg --help
Static Gen.

Usage:
  sg [--manifest=FILE] [--source=DIR] [--out=DIR] [--watch] [--serve [--port=PORT]]
  sg (-h | --help)
  sg --version

Options:
  -h --help                  Show this screen.
  --version                  Show version.
  -m FILE --manifest=FILE    Manifest file [default: files.yml].
  -o DIR --out=DIR           Output directory [default: dist].
  -i DIR --source=DIR        Input directory [default: src].
  -w --watch                 Watch for input changes [default: false].
  -s --serve                 Serve the output directory [default: false].
  -p PORT --port=PORT        Port to serve on [default: 3000].

</code></pre>

    <h2 id="maven">Maven Plugin</h2>
    <p>Static Gen also ships as a maven plugin, however, it does not require a maven project, and can be simpler to run
        via a maven command without needing to setup the CLI</p>
    <pre><code>{{'<build>
    ...
    <plugins>
        ...
        <plugin>
            <groupId>${project.groupId}</groupId>
            <artifactId>static-gen-maven-plugin</artifactId>
            <version>${project.version}</version>
            <executions>
                <execution>
                <phase>compile</phase>
                    <goals>
                        <goal>generate</goal>
                    </goals>
                </execution>
            </executions>
            <configuration>
                <!-- -Dsg.watch=true -->
                <!-- Default: false -->
                <watch>true</watch>
                <!-- -Dsg.serve=true -->
                <!-- Default: false -->
                <serve>true</serve>
                <!-- -Dsg.servePort=3000-->
                <!-- Default: 3000 -->
                <port>3000</port>
                <!-- -Dsg.src= -->
                <!-- Default: ${project.basedir}/src/main/static-->
                <src>${project.basedir}/src/main/static</src>
                <!-- -Dsg.out=dist-->
                <!-- Default: ${project.build.outputDirectory} -->
                <out>${project.build.outputDirectory}</out>
                <!-- -Dsg.manifest=manifest.yml -->
                <!-- Default: manifest.yml -->
                <manifest>manifest.yml</manifest>
            </configuration>
        </plugin>
        ...
    </plugins>
    ...
</build>
' | escape }}</code></pre>

</div>
{% endblock %}
